.container {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.quote {
    margin-top: 4rem;
    align-self: stretch;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.text {
    color: black;
    font-weight: 400;
    word-wrap: break-word;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image {
    padding: 10px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.image2 {
    padding: 10px;
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.image:hover {
    display: none;
}

.image:hover + .image2{
    display: inline-flex;
}
