body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: 
#f4f4f4;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: 
white;
    box-shadow: 0 0 10px 
rgba(0,0,0,0.1);
}

h2 {
    color: 
#333;
}

/* Add specific styles for your sections, images, buttons, etc., here */

/* SECTION ONE */

#container {
    position: relative;
    min-height: 600px;
}

#image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the image both vertically and horizontally */
}

#image-movement {
    background: rgb(36, 107, 38);
    background: radial-gradient(circle, rgba(36, 107, 38, 1) 24%, rgb(53, 97, 24) 38%, rgb(14, 62, 11) 63%);
    min-height: 600px;
}

#controls {
    display: grid;
    grid-template-columns: repeat(3, auto); /* 3 columns of equal width */
    grid-template-rows: repeat(3, auto); /* 3 rows of equal height */
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    gap: 5px; /* Adjust the gap between buttons as needed */
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
    margin: 0 auto; /* Center the grid horizontally */
}

button {
    width: 100px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
}

/* Specific styling for each button */
#up {
    grid-column: 2;
    grid-row: 1;
}

#down {
    grid-column: 2;
    grid-row: 3;
}

#left {
    grid-column: 1;
    grid-row: 2;
}

#right {
    grid-column: 3;
    grid-row: 2;
}






/* Section 3 */

#space{
    min-height: 40vw;
    background-image: url(media/stars-2643089_1920.jpg);
    background-repeat: no-repeat;
}

#scroll-activated-image{
    background-color: black;
}
 .moving-content {
    position: absolute;
    left: 45vw;
    display: flex;
    justify-content: center;
  }
  .moving-content img {
    max-width: 100%; /* Ensure image doesn't exceed the width of its container */
    height: auto; /* Maintain aspect ratio */
  }
/* section 4 */

#choose-your-own-adventure {
    min-height: 600px;
}



.color-box {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid transparent;
    cursor: pointer;
  }







